[mysqld]
# binlog設定
log_bin             = mysql-bin
binlog_format       = ROW
binlog_checksum     = NONE
server_id           = 1
expire_logs_days    = 1

# 文字コード
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
